.inner {
  width: 75%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
body {
  position: relative;
  font-family: 'Thasadith', sans-serif;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  background-color: #9a9a9a88;
  background-image: url("images/img-18.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: none;
  background-color: #ffffff;
}
header .inner {
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< left */
  /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> right */
}
header .inner .leftSide {
  display: inline-block;
  float: left;
}
header .inner .leftSide .logo {
  height: 100px;
}
header .inner .rightSide {
  display: inline-block;
  line-height: 100px;
  text-align: right;
  float: right;
}
header .inner .rightSide li {
  display: inline-block;
  padding: 0 10px;
  font-size: 17px;
  vertical-align: middle;
}
header .inner .rightSide a {
  text-decoration: none;
  color: #722619;
}
header .inner .rightSide li:hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), to(#ffe93d));
  background-image: linear-gradient(#ffffff 50%, #ffe93d);
}
header .inner .buttonSandwich {
  display: none;
  margin-top: 35px;
  float: right;
  border: none;
  background-color: inherit;
  padding: 5px;
}
header .inner .buttonSandwich img {
  height: 20px;
}
header .inner .buttonSandwich:hover {
  cursor: pointer;
  margin-top: 35px;
  padding: 3px;
}
header .inner .buttonSandwich:hover img {
  height: 24px;
}
header .inner .clear {
  clear: both;
}
.manoNuoroduBlokas .manoNuorodos {
  padding: 5px;
  background-color: red;
  color: #fff;
}
/* ========= Second menu ========= */
.second-menu .restaurant-menu {
  height: 50px;
  text-align: center;
}
.second-menu .restaurant-menu li {
  background-color: #262626;
  line-height: 25px;
  padding: 5px;
  border: 1px solid #ffffff00;
  display: inline-block;
  text-decoration: none;
}
.second-menu .restaurant-menu li.active,
.second-menu .restaurant-menu li:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #82a137), color-stop(150%, #ffffff));
  background-image: linear-gradient(#ffffff 0%, #82a137 50%, #ffffff 150%);
  height: 25px;
  position: relative;
}
.second-menu .restaurant-menu li a {
  padding: 0 15px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.footer {
  background-color: #181818;
}
.footer .bottom_menu {
  padding: 35px 0 20px;
}
.footer .bottom_menu ul {
  margin: 0;
  font-size: 0;
  text-align: center;
}
.footer .bottom_menu a {
  display: block;
  color: #ffe93d;
  font-family: "Verlag-Bold", Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  white-space: nowrap;
  border: 0 none;
  padding: 0 8px;
  border-bottom: 5px solid #72261900;
}
.footer .bottom_menu a:hover {
  border-bottom: 5px solid #ffe93d;
  cursor: pointer;
}
.footer .bottom_menu li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}
.footer .bottom_menu li:before {
  display: none;
}
.footer .bottom_menu li:after {
  content: '';
  position: absolute;
  top: 9px;
  right: -7.5px;
  width: 5px;
  height: 5px;
  background-color: #ffe93d;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.footer .bottom_menu li:last-child:after {
  display: none;
}
.footer .innerMiddle .logo {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: white;
  font-family: 'Lato', sans-serif;
}
.footer .innerMiddle .logo h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  white-space: nowrap;
}
.footer .innerMiddle .logo img {
  height: 80px;
}
.footer .inner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9E9E9E;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  white-space: nowrap;
}
.footer .inner2 .block {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.footer .inner2 .block h2 {
  padding-bottom: 10px;
  font-weight: bold;
}
.footer .inner2 .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .inner2 .rightSide a {
  padding: 10px;
  display: block;
}
.footer .solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  color: #607D8B;
}
.footer .solution a {
  text-decoration: none;
  color: #607D8B;
}
.footer .solution a:hover {
  color: #82a137;
}
@media screen and (max-width: 1023px) {
  header {
    background-color: #82a137;
  }
  header .inner .rightSide {
    display: none;
  }
  header .inner .buttonSandwich {
    display: inline-block;
  }
}
@media screen and (max-width: 667px) {
  header {
    background-color: lightsalmon;
  }
  header .inner .rightSide {
    display: none;
  }
  header .inner .buttonSandwich {
    display: inline-block;
  }
}
