body{
    color: green;
}

iframe{
    width: 300px;
    height: 250px;
/* width="400" height="300" */

}

.pseudo::before{
    content: "xxx before xxx";
    color: red;
}
.pseudo::after{
    content: "xxx after xxx";
    text-align: center;
    margin: 
        vertical-align: middle;        
    padding-top: 200px;
    font-size: 20px;
    color: red;
    background: url(images/back.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 50%;
    background-size: 200px;
}

