.project{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: 36px;
}

img{
    position: absolute;
    width: 47px;
    left: 24px;
    top: 4px;    
}

a{
    text-decoration-line: none;
    font-size: 24px;
    display: block;
}

.links{
    background-color: lightgreen;
    width: 95%;
    margin: 0px auto;
    padding: 10px 0px;
    border-radius: 10px;
    border: 1px solid red;
}

.reaction{
    padding: 5px;
    margin: 0;
    margin-left: 20px;
}

.reaction:hover{
    background-color: yellow;
    border: 1px solid red;
    padding: 4px 4px 4px 14px;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
}


