/*   ekranas 1366x768 px   */

body{
    color: green;
    position: relative;
    background-color: yellow;
}

section{
    width: 90%;
    max-width: 1200px;
    margin: auto;

}

article{
    background-color: red;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
/*    overflow: auto;*/
}

aticle img{
    width: 300px;
    float: left;
}


aticle p{
    width: 300px;
    float: left;
}

.leftSide{
    
}







