.inner {
  width: 75%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
body {
  position: relative;
  font-family: 'Thasadith', sans-serif;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  background-color: #9a9a9a88;
  background-image: url("images/img-18.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: none;
  background-color: #ffffff;
  margin-bottom: 50px;
}
header .inner {
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< left */
  /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> right */
}
header .inner .leftSide {
  display: inline-block;
  float: left;
}
header .inner .leftSide img {
  height: 100px;
  width: 100px;
}
header .inner .rightSide {
  display: inline-block;
  line-height: 100px;
  text-align: right;
  float: right;
}
header .inner .rightSide li {
  display: inline-block;
}
header .inner .rightSide li a {
  padding: 0 10px 40px 10px;
  font-size: 17px;
  vertical-align: middle;
  text-decoration: none;
  color: #722619;
}
header .inner .rightSide li:hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), to(#ffe93d));
  background-image: linear-gradient(#ffffff 50%, #ffe93d);
}
header .inner .buttonSandwich {
  display: none;
  margin-top: 35px;
  float: right;
  border: none;
  background-color: inherit;
  padding: 5px;
}
header .inner .buttonSandwich img {
  height: 20px;
}
header .inner .buttonSandwich:hover {
  cursor: pointer;
  margin-top: 35px;
  padding: 3px;
}
header .inner .buttonSandwich:hover img {
  height: 24px;
}
header .inner .clear {
  clear: both;
}
.manoNuoroduBlokas {
  margin: 20px;
}
.manoNuoroduBlokas .manoNuorodos {
  padding: 5px;
  background-color: red;
  color: #fff;
}
.pageLunch .inner {
  background-color: #ffe93d;
  padding: 30px 0px 40px 0px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pageLunch .inner .leftSide {
  margin: 40px;
  width: 62%;
  text-align: left;
  font-size: 0;
}
.pageLunch .inner .leftSide h3 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}
.pageLunch .inner .leftSide h3.lineAfter:after {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 5px solid #722619;
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  margin-top: 40px;
  margin-bottom: 40px;
}
.pageLunch .inner .leftSide .text {
  padding-top: 40px;
  text-align: left;
  font-size: 18px;
}
.pageLunch .inner .leftSide .text p {
  display: block;
  color: #000;
  text-align: justify;
  /* padding-top: 60px; */
  line-height: 2;
}
.pageLunch .inner .leftSide .text .wp-block-image {
  display: inline-block;
  margin: 1%;
  text-align: center;
  vertical-align: center;
  width: 47%;
}
.pageLunch .inner .leftSide .text .wp-block-image img {
  padding: 0.5%;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.5);
}
.pageLunch .inner .rightSide {
  display: inline-block;
  margin: 1%;
  text-align: center;
  vertical-align: center;
  width: 37%;
}
.pageLunch .inner .rightSide img {
  padding: 0.5%;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.5);
}
/* ============= Second menu ============= */
.pageMenu {
  padding: 10px;
}
.pageMenu .second-menu {
  padding: 10px;
  display: inline-block;
}
.pageMenu .second-menu .restaurant-menu {
  padding: 5px;
  height: 50px;
  text-align: center;
  display: inline-block;
}
.pageMenu .second-menu .restaurant-menu li {
  background-color: #262626;
  line-height: 25px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ffffff00;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
}
.pageMenu .second-menu .restaurant-menu li a {
  padding: 0 15px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.pageMenu .second-menu .restaurant-menu li.active,
.pageMenu .second-menu .restaurant-menu li:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #82a137), color-stop(150%, #ffffff));
  background-image: linear-gradient(#ffffff 0%, #82a137 50%, #ffffff 150%);
  height: 30px;
  margin-bottom: 0px;
  position: relative;
  cursor: pointer;
}
.menuQuick {
  font-size: 0;
}
.menuQuick ul {
  width: 100%;
}
.menuQuick ul li {
  display: inline-block;
  width: 100%;
}
.menuQuick ul li figure {
  width: 100%;
}
.menuQuick ul li figure img {
  width: 100%;
}
.pageGallery {
  font-size: 0;
}
.pageGallery ul {
  width: 100%;
}
.pageGallery ul li {
  display: inline-block;
  width: calc(33.33333333%);
}
.pageGallery ul li figure {
  width: 100%;
}
.pageGallery ul li figure img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.pageContacts .inner {
  background-color: #82a137;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pageContacts .inner .leftSide {
  width: 50%;
}
.pageContacts .inner .leftSide .inner2 {
  padding: 20px 20px 20px 0px;
}
.pageContacts .inner .leftSide .inner2 iframe {
  width: 100%;
  height: 60vh;
}
.pageContacts .inner .rightSide {
  width: 50%;
  text-align: left;
  font-size: 0;
  padding: 20px;
}
.pageContacts .inner .rightSide .text h3 {
  text-align: left;
  padding-bottom: 10px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.pageContacts .inner .rightSide .text h3.lineAfter:after {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 5px solid #722619;
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  margin-top: 40px;
  margin-bottom: 40px;
}
.pageContacts .inner .rightSide .text .fa-ul {
  margin-top: 30px;
  margin-left: 30px;
}
.pageContacts .inner .rightSide .text li {
  font-size: 16px;
  line-height: 1.5;
}
.footer {
  background-color: #181818;
  margin-top: 50px;
}
.footer .bottom_menu {
  padding: 35px 0 20px;
}
.footer .bottom_menu ul {
  margin: 0;
  font-size: 0;
  text-align: center;
}
.footer .bottom_menu a {
  display: block;
  color: #ffe93d;
  font-family: "Verlag-Bold", Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  white-space: nowrap;
  border: 0 none;
  padding: 0 8px;
  border-bottom: 5px solid #72261900;
}
.footer .bottom_menu a:hover {
  border-bottom: 5px solid #ffe93d;
  cursor: pointer;
}
.footer .bottom_menu li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}
.footer .bottom_menu li:before {
  display: none;
}
.footer .bottom_menu li:after {
  content: '';
  position: absolute;
  top: 9px;
  right: -7.5px;
  width: 5px;
  height: 5px;
  background-color: #722619;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.footer .bottom_menu li:last-child:after {
  display: none;
}
.footer .innerMiddle .logo {
  padding: 50px 0 80px 0;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .innerMiddle .logo img {
  width: auto;
  margin: 0 10px;
}
.footer .innerMiddle .logo .first {
  height: 100px;
}
.footer .innerMiddle .logo .second {
  padding-top: 30px;
  height: 40px;
}
.footer .inner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9e9e9e;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  white-space: nowrap;
}
.footer .inner2 .block {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.footer .inner2 .block h2 {
  padding-bottom: 10px;
  font-weight: bold;
}
.footer .inner2 .block a {
  display: block;
  text-decoration: none;
  color: white;
}
.footer .inner2 .block a:hover {
  background-color: white;
  border-radius: 20px;
  color: black;
}
.footer .inner2 .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .inner2 .rightSide a {
  margin: 10px;
  padding: 3px;
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.footer .solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  color: #607D8B;
}
.footer .solution p {
  display: inline;
}
.footer .solution a {
  text-decoration: none;
  color: #607D8B;
  display: inline;
}
.footer .solution a:hover {
  color: #82a137;
}
@media screen and (max-width: 1023px) {
  header {
    background-color: #82a137;
  }
  header .inner .rightSide {
    display: none;
  }
  header .inner .buttonSandwich {
    display: inline-block;
  }
  .pageGallery ul li {
    width: calc(50%);
  }
}
@media screen and (max-width: 667px) {
  header {
    background-color: #9e9e9e;
  }
  header .inner .rightSide {
    display: none;
  }
  header .inner .buttonSandwich {
    display: inline-block;
  }
  .pageGallery ul li {
    width: calc(100%);
  }
}
