p {
    font-size: 60px;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 50px 5px 5px 5px;
    background-color: green;
    border-radius: 30px;
    align-items: center;
    text-align: center;
}
body{
    background-color: black;
}