/*   ekranas 1366x768 px   */

body{
    background-color: #ffffff;
}

input{
    padding: 20px;
}

select{
    padding: 20px;

}
button{
    padding: 5px;
}


th,
td{
    padding: 15px 20px;
}

table tr:nth-last-of-type(odd){
    background-color: #ecf0f1;
}







