body{
	text-align: center;
	font-size: 0;
	background-color: #FDA7DF;
}

header{
	background-color: #000000;
	padding: 10px 0;
}

header *{
	display: inline-block;
	vertical-align: center;
	margin: 0 20px 0 20px;
}

header img{
	height: 16px;
}

header h2{
	font-size: 24px;
	color: yellow;
}

h3{
	padding: 10px 0;
	font-weight: bold;
	background-color: #000000;
	color: yellow;
	text-align: center;
	border-radius: 20px;
}

label,
h4{
	padding-top: 15px;
	padding-bottom: 5px;
	font-size: 16px;
	text-align: left;
}

/*input[type="checkbox"]{*/
	/*height: 30px;*/
	/*width: 30px;*/
	/*background-color: #D980FA;*/
	/*color: #c0392b;*/
	/*vertical-align: center;*/
	/*border-radius: 5px;*/
	/*padding: 10px;*/
	/*margin-top: 20px;*/
	/*cursor: pointer;*/
/*}*/

/*/// start //////////////////////////////////////////////////////////*/
/* The container */
.container {
	margin-top: 20px;
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #D980FA;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}/*/// end //////////////////////////////////////////////////////////*/

.action{
	background-color: #000000;
	color: yellow;
	vertical-align: middle;
	padding: 5px;
	width: 120px;
	height: 40px;
	margin: 5px 5px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

section{
	width: 90%;
	margin: auto;
}

.leftSide{
	display: inline-block;
	width: 30%;
	background-color: #FDA7DF;
	font-size: 18px;
	text-align: right;
	vertical-align: top;
	min-width: 140px;
	padding: 20px;
	box-sizing:border-box;
}

.leftSide select{
	width: 70%;
	height: 30px;
	background-color: #D980FA;
	max-width: 200px;
	min-width: 100px;
	border-radius: 20px;
}

.rightSide{
	display: inline-block;
	width: 70%;
	height: 100%;
	background-color: #D980FA;
	font-size: 18px;
	text-align: left;
	vertical-align: top;
	padding: 20px;
	box-sizing:border-box;
}

.rightSide ul{
	padding-top: 20px;
}

.rightSide ul li{
	padding: 5px;
}

.rightSide li p{
	line-height: 24px;
}

.rightSide .left1{
	vertical-align: top;
	width: 50px;
	float: left;
	font-weight: bold;
}

.rightSide .left2{
	vertical-align: top;
	width: 50px;
	float: left;
	/*clear: right;*/
}

.rightSide .left3{
	vertical-align: top;
	/*max-width: 680px;*/
}


