body {
    text-align: center;
}

input, 
select {
    border: none;
    background-color: #ecf0f1;
    border-radius: 5px;
    border-top: 3px solid #bdc3c7; 
    padding: 15px 20px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

button {
    border: none;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
    border-top: 3px solid #c0392b; 
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
}

table {
    width: 90%;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
}

table td, 
table th {
    padding: 15px 20px;
}

table th {
    font-weight: bold;
}

table td {
    text-align: left;
}

table tr:nth-last-of-type(odd) {
    background-color: #ecf0f1;
}





