body {
    font-family: 'Staatliches', cursive;

    background: #4cb8c4;
    background: -webkit-linear-gradient(to right, #4cb8c4, #3cd3ad);
    background: linear-gradient(to right, #4cb8c4, #3cd3ad);

    color: #fff;
}

.word {
    text-align: center;
    margin: 50px 0;
}

.letter {
    display: inline-block;
    font-size: 100px;
    border-bottom: 10px solid yellow;
    width: 80px;
    vertical-align: bottom;
    height: 100px;
    margin: 0 5px;
}

.progress {
    width: 90%;
    max-width: 600px;
    border: 4px solid #fff;
    height: 25px;
    border-radius: 5px;
    display: block;
    margin: auto;
    position: relative;
}

.progress .bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    background-color: #dddddd;
    transition: width 0.1s linear;
}

.message {
    margin-top: 50px;
    font-size: 36px;
    text-align: center;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.lettersRemainer{
    color: yellow;
    letter-spacing: 10px;
    font-size: 36px;
}

section{

    text-align: center;
}

button{
    display: inline-flex;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
}

.button1{
    /*background-color: #dddddd;*/
    /*color: white;*/
}

.button2{
    background-color: lime;
}

.button3{
    background-color: yellow;
}

.button4{
    background-color: orange;
}

.button5{
    background-color: red;
}








