/*   ekranas 1366x768 px   */

body{
    color: green;
}

section{
    width: 100%;
}

@media (max-width: 700px) {/* all - default reikšmė*/

    section{
        height: 50vh;
        line-height: 50vh;
    }
}


@media (max-width: 1100px) and (min-width: 700px){/* all - default reikšmė*/

    section{
        height: 50vh;
        line-height: 50vh;
    }
}






